@font-face {
  font-family: "SuezOne-Regular";
  src: url("../fonts/SuezOne-Regular.eot");
  src: url("../fonts/SuezOne-Regular.ttf") format("truetype"),
    url("../fonts/SuezOne-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  background: linear-gradient(-45deg, #f5b29d, #e991b3, #7cc1da, #7bd4bf);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
body {
  height: 100vh;
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 1.3em;
  margin-top: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul {
  list-style: none;
  padding: 0;
}

#imgWrapper img {
  filter: grayscale();
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid whitesmoke;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  transition: filter 0.4s ease-in-out;
}

#imgWrapper:hover img {
  filter: none;
  width: 150px;
}

#navdiv > ul li {
  display: inline-block;
  color: black;
}

#navdiv > ul li a {
  display: block;
  background: rgba(218, 188, 231, 0.65);
  color: black;
  height: 15%;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  margin-right: 20px;
  border: black solid 2px;
  border-radius: 15px 50px 30px;
  font-size: clamp(14px, 3vw, 20px);
  transition: all 0.2s ease-in-out;
}

h1 {
  font-size: 35px;
  margin-top: 1%;
  text-shadow: 1px 1px 1px white;
  font-family: SuezOne-Regular;
  letter-spacing: 2px;
}
h2 {
  font-size: 20px;
  font-family: SuezOne-Regular;
}

#navdiv {
  display: inline-block;
  position: absolute center;
}
#navdiv ul li a:hover {
  background-color: palevioletred;
  display: inline-block;
  transform: scale(1.1);
}

#navdiv ul li a:active {
  background-color: deeppink;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: right;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: rgba(178, 0, 255, 0.3);
  display: table-cell;
  vertical-align: middle;
  display: grid;
  grid-column-gap: 50px;
}

.tiksuretImages {
  margin: 0 auto;
  border: 1px solid #ccc;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: rgba(178, 0, 255, 0.3);
}

.tiksuretImages:hover {
  border: 1px solid #777;
  filter: contrast(150%);
}

.tiksuretImages img {
  width: 100%;
  height: auto;
  display: block;
}

div.gallery:hover {
  border: 1px solid #777;
  filter: contrast(150%);
}

div.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

div.desc {
  padding: 25px;
  text-align: center;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
  background-color: palevioletred;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  margin: 0 auto;
}

.hidden-style-ops {
  display: block;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 2px 0;
  }
  .hidden-style {
    display: block !important;
  }

  .hidden-style-ops {
    display: none !important;
  }

  #navdiv ul li a {
    height: 100%;
    padding: 10px;
    margin-right: 0;
    width: 150px;
    margin-top: 5px;
  }

  #homepage {
    border-radius: 0 !important;
    width: 100% !important;
    border: none !important;
  }

  #container {
    width: 100% !important;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}

.gallery {
  vertical-align: middle;
  text-align: center;
  display: block;
  float: right;
}

#homepage {
  background: rgba(218, 188, 231, 0.65);
  border: solid black 2px;
  border-radius: 15px 50px 30px;
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 2% 0;
}
.music {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#bigger {
  width: 400px;
  margin-left: 50px;
}

#container {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #306ee1;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.fa-linkedin,
.fa-facebook-f,
.fa-instagram,
.fa-github {
  color: rgba(0, 0, 0, 1) !important;
}

.linkedin:hover .fa-linkedin,
.facebook:hover .fa-facebook-f,
.instagram:hover .fa-instagram,
.github:hover .fa-github {
  color: #ffffff !important;
}

/* for btn */
.frame {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
button {
  margin: 20px;
  outline: none;
}
.custom-btn {
  /* width: 50%; */
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-weight: 500;
  color: white;
  background: #333333;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

#container p {
  direction: rtl;
}

/* btn 11 */
.btn-11 {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btn-11:hover {
  background: pink;
  color: black;
}
.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@keyframes shiny-btn1 {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* responsive video */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* mobile nav bar */
#menu a {
  text-decoration: none;
  color: #1e1e23;
  opacity: 1;
  font-family: "work sans", sans serif;
  font-size: 1.2em;
  font-weight: 400;
  transition: 200ms;
}
#menu {
  padding: 0;
  list-style-type: none;
}
#nav-mobile {
  background-color: #1e1e23;
  height: 65px;
}

.hidden-style {
  display: none;
}

.padding-15 {
  padding: 15px;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #cbb3b3;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383f;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 180px;
  height: 400px;
  box-shadow: 0 0 10px #85888c;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #f5f6fa;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
