@font-face {
  font-family: "SuezOne-Regular";
  src: url("../fonts/SuezOne-Regular.eot");
  src: url("../fonts/SuezOne-Regular.ttf") format("truetype"),
    url("../fonts/SuezOne-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nehama";
  src: url("../fonts/new/Nehama.eot");
  src: url("../fonts/new/Nehama.ttf") format("truetype"),
    url("../fonts/new/Nehama.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: black;
  text-align: center;
  font-family: SuezOne-Regular;
  /* display: flex; 
  justify-content: center;
  align-items: center;
  */
}
html {
  background: linear-gradient(315deg, #ffffff, rgb(255, 196, 247));
}

ul {
  list-style: none;
  padding: 0;
}

#imgWrapper img {
  filter: grayscale();
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid whitesmoke;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  transition: filter 0.4s ease-in-out;
}

#imgWrapper:hover img {
  filter: none;
  width: 150px;
}

nav ul li {
  display: inline-block;
  color: black;
}
nav ul li a {
  display: block;
  background-color: rgba(178, 0, 255, 0.15);
  color: black;
  height: 15%;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  margin-right: 20px;
  border: black solid 2px;
  border-radius: 15px 50px 30px;
  font-size: clamp(12px, 3vw, 20px);
  transition: all 0.2s ease-in-out;
}

h1 {
  font-size: 35px;
  margin-top: 1%;
  text-shadow: 1px 1px 1px white;
  font-family: Nehama;
  letter-spacing: 2px;
}
p {
  font-size: 18px;
}
h2 {
  font-size: 25px;
  font-family: SuezOne-Regular;
}

#navdiv {
  display: inline-block;
  position: absolute center;
}
nav ul li a:hover {
  background-color: palevioletred;
  display: inline-block;
  transform: scale(1.1);
}

nav ul li a:active {
  background-color: deeppink;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: right;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: rgba(178, 0, 255, 0.3);
  display: table-cell;
  vertical-align: middle;
  display: grid;
  grid-column-gap: 50px;
}

.tiksuretImages {
  margin: 0 auto;
  border: 1px solid #ccc;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: rgba(178, 0, 255, 0.3);
}

.tiksuretImages:hover {
  border: 1px solid #777;
  filter: contrast(150%);
}

.tiksuretImages img {
  width: 100%;
  height: auto;
  display: block;
}

div.gallery:hover {
  border: 1px solid #777;
  filter: contrast(150%);
}

div.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

div.desc {
  padding: 25px;
  text-align: center;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
  background-color: palevioletred;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  margin: 0 auto;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 2px 0;
  }

  nav ul li a {
    height: 100%;
    padding: 10px;
    margin-right: 0;
    width: 150px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}

.gallery {
  vertical-align: middle;
  text-align: center;
  display: block;
  float: right;
}

#homepage {
  background: rgba(178, 0, 255, 0.15);
  border: solid black 2px;
  border-radius: 15px 50px 30px;
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}
.music {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#bigger {
  width: 400px;
  margin-left: 50px;
}

#container {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #306ee1;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.fa-linkedin,
.fa-facebook-f,
.fa-instagram,
.fa-github {
  color: rgba(0, 0, 0, 1) !important;
}

.linkedin:hover .fa-linkedin,
.facebook:hover .fa-facebook-f,
.instagram:hover .fa-instagram,
.github:hover .fa-github {
  color: #ffffff !important;
}

/* for btn */
.frame {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
button {
  margin: 20px;
  outline: none;
}
.custom-btn {
  /* width: 50%; */
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-weight: 500;
  color: white;
  background: #333333;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/* btn 11 */
.btn-11 {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btn-11:hover {
  background: pink;
  color: black;
}
.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@keyframes shiny-btn1 {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
