@font-face {
  font-family: "SuezOne-Regular";
  src: url("../fonts/SuezOne-Regular.eot");
  src: url("../fonts/SuezOne-Regular.ttf") format("truetype"),
    url("../fonts/SuezOne-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nehama";
  src: url("../fonts/new/Nehama.eot");
  src: url("../fonts/new/Nehama.ttf") format("truetype"),
    url("../fonts/new/Nehama.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: black;
  text-align: center;
  -webkit-mask-attachment: fixed;
  font-family: SuezOne-Regular;
}
html {
  background-color: rgb(255, 208, 249);
}

ul {
  list-style: none;
}
#container img {
  width: 20%;
}
nav ul li {
  display: inline-block;
  color: black;
}
nav ul li a {
  display: block;
  background-color: rgba(178, 0, 255, 0.15);
  color: black;
  height: 15%;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  margin-right: 20px;
  border: black solid 2px;
  border-radius: 15px 50px 30px;
  font-size: clamp(12px, 3vw, 20px);
}

h1 {
  font-size: 35px;
  margin-top: 1%;
  text-shadow: 1px 1px 1px white;
  font-family: Nehama;
  letter-spacing: 2px;
}
p {
  font-size: 18px;
}
h2 {
  font-size: 25px;
  font-family: SuezOne-Regular;
}

#navdiv {
  display: inline-block;
  position: absolute center;
}
nav ul li a:hover {
  background-color: palevioletred;
  display: inline-block;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
nav ul li a:active {
  background-color: deeppink;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: right;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: rgba(178, 0, 255, 0.3);
  display: table-cell;
  vertical-align: middle;
  display: grid;
  grid-column-gap: 50px;
}

.tiksuretImages {
  margin: 0 auto;
  border: 1px solid #ccc;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: rgba(178, 0, 255, 0.3);
}

.tiksuretImages:hover {
  border: 1px solid #777;
  filter: contrast(150%);
  // Browser Specific -webkit-filter: contrast(150%);
  -moz-filter: contrast(150%);
  -o-filter: contrast(150%);
  -ms-filter: contrast(150%);
}

.tiksuretImages img {
  width: 100%;
  height: auto;
  display: block;
}

div.gallery:hover {
  border: 1px solid #777;
  filter: contrast(150%);
  // Browser Specific -webkit-filter: contrast(150%);
  -moz-filter: contrast(150%);
  -o-filter: contrast(150%);
  -ms-filter: contrast(150%);
}

div.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

div.desc {
  padding: 25px;
  text-align: center;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
  background-color: palevioletred;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  margin: 0 auto;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 2px 0;
  }

  nav ul li a {
    height: 100%;
    padding: 10px;
    margin-right: 0;
    width: 150px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}

.gallery {
  vertical-align: middle;
  text-align: center;
  display: block;
  float: right;
}

#homepage {
  background: rgba(178, 0, 255, 0.15);
  border: solid black 2px;
  border-radius: 15px 50px 30px;
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}
.music {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#bigger {
  width: 400px;
  margin-left: 50px;
}
.Wbackground .video {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.Wbackground {
  border-radius: 15px 50px 30px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}

#connectFooter > li {
  display: inline;
}

#connectFooter > li > i {
  width: 300px;
  height: 300px;
}

.fullwidth {
  width: 100%;
  position: inline-block !important;
}
